node_modules
dev
build
builds
.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
yarn-error.log
.yarnclean
.vscode
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
tars-local-config.js